.dataTable {
  height: calc(100vh - 47px);
  max-width: calc(100vw - 210px);
  margin: 0 auto;
  overflow-x: auto;

  .dataGrid {
    background: white;
    padding: 20px 20px 0px 20px;
    height: 100%;
    .MuiDataGrid-toolbarContainer {
      flex-direction: row-reverse;
    }

    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
    }
    /* Add these styles to your Outlet.scss */
    .not-shipped-row {
      background-color: rgba(255, 166, 0, 0.401);
    }

    .shipped-row {
      background-color: rgba(0, 255, 0, 0.259);
    }
    .action {
      display: flex;
      gap: 15px;

      img {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
  }
}
