.dataTable {
  height: calc(100vh - 47px);
  max-width: 1120px;
  margin: 0 auto;
  overflow-x: auto;

  .dataGrid {
    background: white;
    padding: 20px 20px 0px 20px;
    height: 100%;
    .MuiDataGrid-toolbarContainer {
      flex-direction: row-reverse;
    }

    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
    }

    .action {
      display: flex;
      gap: 15px;

      img {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
  }
}
